* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	background-color: rgb(192,57,43);
	/*background-size: 2000px;
	background-repeat: no-repeat;*/
	color: #fff;
	/*font-family: 'Source Sans Pro', sans-serif;;
	background-image: url("../images/splash-image-2000px.jpg");
	margin: 0;*/

}

header {
	height: 100px; 
	background: rgba(67,61,60, 0.5);
	border-bottom: 1px rgba(255,255,255, 0.2) solid;
}

.logo {
	float: left;
	display: block;
	padding: 10px;
	margin: 5px;

}

nav {
	font-family: 'Source Sans Pro', sans-serif;
	padding: 15px;
	margin: 25px;
	float: right;
	color: #ffffff;
	/* 2) why isn't the nav text color showing up white*/
}

a {
	text-decoration: none;
	color: #f3f3f3;
	padding-right: .5em;
}

a:hover {

	text-decoration: none;
	color: #CC525A;
}


#welcome-about {
	font-family: 'Source Sans Pro', sans-serif;
	padding: 6em;
	margin: 0;
	background-repeat: no-repeat;
	background-origin: left;
	background-image: url("../images/splash-image-2000px.jpg");
	background-size: 1400px;
	background: rgba(67,61,60, 0.5);
	display: block;

/*	1)	when I added the image to this section - it wouldn't show up. 
then when it did, it was inside of the padding and above the opacity "layer".
When I add it to the html, it turns into a tiny image over the welcome text */
}


.welcome {
	width: 70%;
	text-align: center;
	margin: auto;
}

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1em;
}

span {
	color: #F0B568;	
}

#slogan {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 1em;
}	

#our-mission {
	/*background: #FBF4ED;*/
	/*background: #F0B568;*/
	background: #FDF6EF;
	height: 100%;
	padding: 2em;
	margin: 0;
	display: block;

}


h2 {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 1em;
	color: #731827;

}

.misssion {
	color: #731827;
	line-height: .5em;
}

h3, h4, h5 {

	/*make these*/
}

.cultivate {
	width: 33.33%;
	padding: 3em;
	margin: 0;
	color: #433D3C;
	float: left;
}

p {
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.25em;
	margin-top: 1em;
}

#clients {
	width: 100%;
	background-color: #433D3C;
	/*background: #FBF4ED;*/
	padding: 4em;
	/*I cut these to be pretty small so if I take out the padding
	the section is pretty tight on the logos*/

}

img {
	display: inline-block;
	height: 7em;
	margin: 0 2em;
}

#contact {
	height: 8em;
	width: 100%;
	background: #F0B568;
	padding: 4em;

}
.contact {

	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;

}



ul {
	text-align: left;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
} 

footer {
	height: 90px;
}

.copyright {
	padding: 1.5em;
	color: #FDF6EF;

}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

