* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	/*background-color: rgb(192,57,43);*/
	/*background-color: #813A33;*/
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;;

}

header {
	/*height: 100px; */
	/*background: rgba(67,61,60, 0.5);*/
	background-color: #433D3C;
	position: relative;
	/*position: fixed;*/
	border-bottom: 1.7em solid #A82033;
	/*background-color: #FDF6EF;*/
	/*border-bottom: 1px rgba(255,255,255, 0.2) solid;*/
}

.logo {
	float: left;
	/*display: block;*/
	/*position: absolute; */
	/*left: 10%;*/
	/*top: 75%;*/
	padding: .9em;
	/*padding: 10px;*/
	margin-left: 17em;

}

nav {
	font-family: 'Source Sans Pro', sans-serif;
	/*padding: 15px;*/
	/*margin: 25px;*/
	float: right;
	color: #FDF6EF;
	position: absolute;
	right: 20%;
	top: 65%
}

a {
	text-decoration: none;
	text-transform: uppercase;
	color: #FDF6EF;
	padding-right: .5em;
}

a:hover {

	text-decoration: none;
	color: #efb46e;
}

#welcome-about {
	font-family: 'Source Sans Pro', sans-serif;
	padding: 6em;
	margin: 0;
	background-image: url("../images/splash-image-2000px.jpg");
	background-size: cover;
	width: 1406px;
	/*background: rgba(67,61,60, 0.5);*/
}

.welcome {
	width: 70%;
	text-align: center;
	margin: auto;
	
}

.splash-overlay {
	width: 1406px;
	background: rgba(67,61,60, 0.3);
	/*position: absolute;*/
	/*right: 0%;*/

/*opacity on overlay color for behind the text? when putting .welcome, it just goes the size of the
text div, when putting over the image it makes the image disapear, when making it its own div, it doesn't
position correctly ???????????????*/

}


h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1em;
	color: #FDF6EF;
}

span {
	color: #F0B568;	
}

#slogan {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 1em;
	color: #FDF6EF;
	/*color: #8AC2B4;*/
}	

.splash {
	font-family: 'Source Sans Pro', sans-serif;
	/*font-family: 'Roboto Slab', serif;*/
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5em;
	margin-top: 1em;
	/*padding: .2em -.5em;*/
	color: #FDF6EF;

}

#our-mission {
	/*background: #FBF4ED;*/
	/*background: #F0B568;*/
	background: #FDF6EF;
	height: 100%;
	padding: 2em;
	margin: 0;
	display: block;

}


h2 {
	/*font-family: 'Roboto Slab', sans-serif;*/
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 1em;
	margin-bottom: .2em;
	/*color: #731827;*/
	color: #A82033;

}

/*.yellowc {
	margin-top: .7em;
	margin-bottom: 1em;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	color: #F0B568;	


}*/

.full-circle {
	 background-color: rgba(240, 181, 104, 0);
	 border: 3px solid #F0B568;
	 height: 150px;
	 width: 150px;
	 border-radius:75px;
	 border-radius: 75px;
}

.misssion {
	color: #433D3C;
	/*color: #731827;*/
	/*line-height: .5em;*/
	padding: .3em 6em;
	margin: 0em;
	font-family: 'Roboto Slab', serif;
	font-size: 25px;
	font-weight: 400;
}

.misssion2 {
	color: #433D3C;
	/*color: #A82033;*/
	/*color: #F0B568;*/
	/*color: #731827;*/
	/*line-height: .5em;*/
	padding: .1em;
	margin-top: 0em;
	margin-bottom: 1.5em; 
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	font-weight: 700;
}

.tiers {
	padding: 1em 6em;
}

h3 {

	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	/*margin-top: 1em;*/
	/*margin-bottom: .5em;*/
	/*color: #731827;*/
	/*color: #A82033;*/
	color: #433D3C;

}

h4 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 15px;
	color: #A82033;

}

.cultivate {
	width: 33.33%;
	padding: 0em 3em;
	margin-bottom: 4em;
	/*margin-top: 1em;*/
	color: #433D3C;
	float: left;
}

p {	
	font-family: 'Source Sans Pro', sans-serif;
	/*font-family: 'Roboto Slab', serif;*/
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5em;
	margin-top: 1em;
	/*padding: .2em -.5em;*/
	color: #808080;
}

#clients {
	width: 100%;
	background-color: #433D3C;
	padding: 2.5em;
}

img {
	display: inline-block;
	height: 7em;
	margin: 0 2em;
}

#contact {
	height: 8em;
	width: 100%;
	background: #F0B568;
	/*background: #FDF6EF;*/
	padding: 4em;

}
.contact {

	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;

}

/*.client-wrapper {
	margin: 2em 0em;
}*/

a.cta1 {
	/*color: #433D3C;*/
	color: #FDF6EF;
	padding: .8em 3em;
	/*margin: 40em 0em; why can't i add any margin here????????????????*/
	background-color: rgba (3, 3, 3, 0);
	text-decoration: none;
	border: solid 1px #FDF6EF;
	border-radius: 2px;
}

.cta1:hover {
	background-color: #FDF6EF;
	color: #F0B568;

}

/*ul {
	text-align: left;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
} */

footer {
	height: 90px;
}

.copyright {
	padding: 1.5em;
	color: #FDF6EF;

}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

