* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #FDF6EF;
	font-size: 16px;

}

header {
	position: relative;
	/*to make sticky nav, position: fixed; and edit/remove background*/
	background: rgba(159,127,80, 0.35);
	border-bottom: 1px rgba(255,255,255, 0.2) solid;
	width:100%;
}

.logo {
	float: left;
	padding: .75em 1em;
	margin: .4em 0 0 7em;
	width: 120px;

}

nav {
	font-family: 'Roboto Slab', serif;
	color: #FDF6EF;
	position: static;
	padding: 4.75em 0 1em 0;
	margin: 0 15em 0 0;
	float: left;
	text-align: center;
	right: 60%;
	top: 65%;
	letter-spacing: .03em;
}

.nav-wrapper {
	display: block;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	color: #FDF6EF;
	padding: 1em;
}

a:hover {

	text-decoration: none;
	color: #433D3C;
}

#welcome-about {
	display: block;
	padding: 2em, 6em;
	margin: 0;
	background-image: url("../images/TL_17-s.png");
	background-size: cover;
	max-width: 100%;
	/*height: 37em;	*/
}

.splash-overlay {
	width: 100%;
	background: rgba(159,127,80, 0.35);
}

.welcome {
	display: block;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: left;
	padding: 8em 21em 11.1em 8em;
	max-width: 1400px;

}

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 74px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: .9em;
	color: #FDF6EF;
}

span {
	color: #A82033;
	/*how to make this be linked? */
}
span:hover{
	color: #F0B568;
}
	

p.splash {
	font-family: 'Roboto Slab', serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.4em;
	margin-top: .5em;
	padding: 0 13em 0 0;
	color: #FDF6EF;
	text-align: left;
}

#our-mission {
	background: #FDF6EF;
	padding: 3em;
	margin: 0 auto;
	display: block;
	max-width: 1400px;
}


h2.headings {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 45px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: .5em;
	margin-bottom: .1em;
	color: #A82033;
}

.misssion {
	color: #433D3C;
	padding: .3em 10em;
	line-height: 1.4em;
	margin: auto;
	font-family: 'Roboto Slab', serif;
	font-size: 1.4em;
	font-weight: 400;
	text-align: center;
}

.misssion2 {
	color: #433D3C;
	padding: .1em;
	margin-top: 0em;
	margin-bottom: 1.5em; 
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	font-weight: 700; 
}


.h22 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 255%;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: .5em;
	margin-bottom: .1em;
	color: #FDF6EF;
}

h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 23px;
	font-weight: 600;
	text-transform: uppercase;
	color: #EFB46E;
	margin-top: .5em;
}

h4 {
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	font-size: 16px;
	color: #433D3C;
	margin: .1em 0;
}

.tiers {
	max-width: 1200px;
	margin: 4em auto 6em;
	display: block;
}

.cultivate-icon {
	width: 35%;
}

.cultivate {
	width: 33.33%;
	padding: 0em 4em;
	color: #433D3C;
	float: left;
	text-align: left;
}

p {	
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	margin-top: 1em;
	text-align: left;
	color: #808080;
}

#activity-images{
	display: block;
	max-width: 100%;
	margin: 0;
}

.activity {
	width: 16.66%;
	margin: auto;
	float: left;
}

		.intro-page2 {
			background-color: #F0B568;
		}

		.h2-p2 {
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 30px;
			font-weight: 700;
			text-transform: uppercase;
			margin-top: .5em;
			margin-bottom: .1em;
			color: #433D3C;
		}

		.h3-p2 {
			font-family: 'Roboto Slab', serif;
			font-size: 18px;
			font-weight: 400;
			text-transform: uppercase;
			margin-top: .5em;
			margin-bottom: .1em;
			color: #A82033;
		}

#approach {
	padding: 3em 0em .5em;
	background-color: #FDF6EF;
	max-width: 1400px;
	margin: 0 auto;
}

.approach-wrapper {
	padding: 3em 19em 2em;
	max-width: 1200px;
	margin: auto;
}

#left-column {
	float: left;
	width: 50%;
	padding-right: 1em;
	border-right: 2px solid #89C2B3;
	padding-bottom: 2em;
	font-size: 110%;
}

#right-column {
	float: left;
	width: 50%;
	padding-left: 1em;
	margin: 0;
	font-size: 110%;
}


p.left-column {
	text-align: right;
	line-height: 1.2em;
	margin: 2.5em 0em;
}

p.left-column2 {
	text-align: right;
	line-height: 1.2em;
	margin: 6.5em 0em;
}


p.right-column {
	text-align: left;
	line-height: 1.2em;
	margin-top: 6.5em;
}

p.right-column2 {
	text-align: left;
	line-height: 1.2em;
	margin: 5em 0em;
}

a.cta1 {
	color: #FDF6EF;
	padding: .8em 3em;
	background-color: #F0B568;
	text-decoration: none;
	border-radius: 2px;
}

		.cta1:hover {
			background-color: #A82033;
			color: #FDF6EF;

		}

		.span-page2 {
			font-family: 'Roboto Slab', serif;
			font-size: 140%;
			font-weight: 400;
			text-transform: uppercase;
			color: #F0B568;
		} 

#clients {
	width: 100%;
	background-color: #fefaf5;
}

img.clients {
	height: 7em;
	margin: 1.7em;
}

#contact {
	display: block;
	background-image: url("../images/contact.jpg");
	max-width: 100%;
	background-size: cover;
}

.contact-wrapper {
	height: 40em;
	display: block;
	width: 100%;
	background: rgba(159,127,80, 0.35);
}

.contact-content {
	display: block;
	padding: 8em 9em 0 43em;
}

h2.contact {
	color: #FDF6EF;
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;
	font-weight: 600;
	text-align: left;
	float: left;
	margin: 0;
}

.with-you {
	color: #FDF6EF;
	text-align: left;
	float: left;
	margin: .3em 0;
	font-size: 19px;
	font-weight: 400;
	line-height: 1.4em;
	font-family: 'Roboto Slab', serif;
}

		footer {
		}

img.social {
	padding-top: 3em;
	width: 20%;
}

.copyright {
	font-family: 'Source Sans', sans-serif;
	font-size: 10px;
	color: #808080;
	padding: 2em;
}


.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

@media only screen and (max-width: 1350px), (min-width: ) {

#welcome-about {
	padding: 2em, 6em;
	margin: 0;
	max-width: 100%;
	height: 32em;
}

.welcome {
	padding: 6em 21em 8.75em 8em;
}

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 66px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: .9em;
	color: #FDF6EF;

}

p.splash {
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.4em;
	margin-top: .5em;
	padding: 0 16em 0 0;
	color: #FDF6EF;
	text-align: left;

}

.misssion {
	color: #433D3C;
	/*color: #731827;*/
	/*line-height: .5em;*/
	padding: .3em 14em;
	line-height: 1.4em;
	margin: auto;
	font-family: 'Roboto Slab', serif;
	font-size: 1.15em;
	font-weight: 400;
}

.tiers {
	/*max-width: 1200px;*/
	max-width: 88%;
	/*margin: 2.2em 2em;*/
	display: block;
}

.cultivate-icon {
	width: 45%;
}

.cultivate {
	width: 33.33%;
	padding: 0em 3em;
	color: #433D3C;
	float: left;
}

h4 {
	font-family: 'Roboto Slab', serif;
	/*font-family: 'Source Sans Pro', sans-serif;*/
	font-weight: 500;
	/*font-size: 105%;*/
	font-size: 16px;
	/*color: #A82033;*/
	color: #433D3C;
	/*color: #EFB46E;*/
	margin: .1em -1em;

}

p {	
	font-family: 'Source Sans Pro', sans-serif;
	/*font-family: 'Roboto Slab', serif;*/
	/*font-size: 100%;*/
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	margin-top: 1em;
	text-align: center;
	/*padding: .2em -.5em;*/
	color: #808080;
}


.contact-wrapper {
	height: 38em;
	display: block;
	width: 100%;
	background: rgba(159,127,80, 0.35);
	/*padding: 4em;*/
}

.contact-content {
	display: block;
	padding: 7em 4em 0 40em;
}

.with-you {
	color: #FDF6EF;
	text-align: left;
	float: left;
	margin: .3em 0;
	font-size: 19px;
	font-weight: 400;
	line-height: 1.4em;
	font-family: 'Roboto Slab', serif;
	padding: 0 7em 0 0;
}

}


@media only screen and (max-width: 1275px) {

header {
	position: relative;
	background: rgba(159,127,80, 0.35);
	border-bottom: 1px rgba(255,255,255, 0.2) solid;
}

.logo {
	float: left;
	padding: .75em 1em;
	margin: .4em 0 0 7em;
	width: 9.3%;
}

nav {
	/*font-family: 'Source Sans Pro', sans-serif;*/
	font-family: 'Roboto Slab', serif;
	/*float: right;*/
	color: #FDF6EF;
	position: static;
	padding: 4.7em 0 0.5em 0;
	margin: 0 15em 0 0;
	float: left;
	text-align: center;
	right: 60%;
	top: 65%;
	font-size: .95em;
	/*this is stretching over the logo, how do i fix this?*/
}

.nav-wrapper {
	display: block;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	color: #FDF6EF;
	padding: 1em;
}

#welcome-about {
	/*display: block;*/
	padding: 2em, 6em;
	margin: 0;
	max-width: 100%;
	height: 30em;
	/*what is going on here? why can't I get the height of the image to work/change?*/
}

.welcome {
	padding: 6em 18em 10em 8em;
}

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 62px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: .9em;
	color: #FDF6EF;

}

p.splash {
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4em;
	margin-top: .5em;
	padding: 0 16em 0 0;
	color: #FDF6EF;
	text-align: left;

}

.misssion {
	color: #433D3C;
	/*color: #731827;*/
	/*line-height: .5em;*/
	padding: .3em 10em;
	line-height: 1.4em;
	margin: auto;
	font-family: 'Roboto Slab', serif;
	font-size: 1.15em;
	font-weight: 400;
}

.tiers {
	/*padding: 1em 3em;*/
	max-width: 1200px;
	margin: 2.2em 2em;
	display: block;
	/*margin-bottom: 1.4em;*/
}

.cultivate-icon {
	width: 40%;
}

.cultivate {
	width: 33.33%;
	padding: 0em 2.5em;
	color: #433D3C;
	float: left;
}

h4 {
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	font-size: 16px;
	color: #433D3C;
	margin: .1em -1em;
}

p {	
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	margin-top: 1em;
	text-align: center;
	/*padding: .2em -.5em;*/
	color: #808080;
}

.contact-wrapper {
	height: 36em;
	display: block;
	width: 100%;
	background: rgba(159,127,80, 0.35);
	/*padding: 4em;*/
}

.contact-content {
	display: block;
	padding: 6em 2em 0 38em;
}

.with-you {
	color: #FDF6EF;
	text-align: left;
	float: left;
	margin: .3em 0;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4em;
	font-family: 'Roboto Slab', serif;
	padding: 0 7.5em 0 0;
}

}

@media only screen and (max-width: 1180px) {

.logo {
	float: left;
	padding: .75em 1em;
	margin: .4em 0 0 7em;
	width: 9%;
}

nav {
	/*font-family: 'Source Sans Pro', sans-serif;*/
	font-family: 'Roboto Slab', serif;
	/*float: right;*/
	color: #FDF6EF;
	position: static;
	padding: 4.7em 0 0.5em 0;
	margin: 0 15em 0 0;
	float: left;
	text-align: center;
	right: 60%;
	top: 65%;
	font-size: .9em;
	/*this is stretching over the logo, how do i fix this?*/
}

.nav-wrapper {
	display: block;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	color: #FDF6EF;
	padding: 1em;
}

#welcome-about {
	/*display: block;*/
	padding: 2em, 6em;
	margin: 0;
	max-width: 100%;
	height: 26em;
	/*width: 1430px;*/
	
}

.welcome {
	padding: 5em 16em 6.5em 8em;
}

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 62px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: .9em;
	color: #FDF6EF;

}

h2.headings {
	/*font-family: 'Roboto Slab', sans-serif;*/
	font-family: 'Source Sans Pro', sans-serif;
	/*font-size: 255%;*/
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: .5em;
	margin-bottom: .1em;
	/*color: #731827;*/
	color: #A82033;

}

p.splash {
	font-family: 'Roboto Slab', serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.4em;
	margin-top: .5em;
	padding: 0 15em 0 0;
	color: #FDF6EF;
	text-align: left;

}

.misssion {
	color: #433D3C;
	/*color: #731827;*/
	/*line-height: .5em;*/
	padding: .3em 10em;
	line-height: 1.4em;
	margin: auto;
	font-family: 'Roboto Slab', serif;
	font-size: 1em;
	font-weight: 400;
}

.tiers {
	/*padding: 1em 3em;*/
	max-width: 1200px;
	margin: 2.2em 2em;
	display: block;
	/*margin-bottom: 1.4em;*/
}

h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: #EFB46E;
	margin-top: .5em;

}

h4 {
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	font-size: 15px;
	color: #433D3C;
	margin: .1em 0;

}

p {	
	font-family: 'Source Sans Pro', sans-serif;
	/*font-family: 'Roboto Slab', serif;*/
	/*font-size: 100%;*/
	font-size: 15px;
	font-weight: 400;
	line-height: 1.5em;
	letter-spacing: 0.01em;
	margin-top: 1em;
	text-align: center;
	/*padding: .2em -.5em;*/
	color: #808080;
}

.approach-wrapper {
	padding: 2em 19em 2em;
}

.span-page2 {
	font-size: 122%;
}

/*#clients {
	width: 100%;
	background-color: #433D3C;
	/*padding: .5em;*/

img.clients {
	/*display: inline-block;*/
	height: 6em;
	margin: 1.7em;
}

.contact-wrapper {
	height: 33em;
	display: block;
	width: 100%;
	background: rgba(159,127,80, 0.35);
	/*padding: 4em;*/
}

.contact-content {
	display: block;
	padding: 6em 2em 0 34em;
}

h2.contact {
	color: #FDF6EF;
	font-size: 44px;
	font-weight: 700;
	text-transform: uppercase;
	/*margin: 3em 0em 0 15em;*/
	/*width: 50%;*/
	font-weight: 600;
	text-align: left;
	float: left;
	margin: 0;
}

.with-you {
	color: #FDF6EF;
	text-align: left;
	float: left;
	margin: .3em 0;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.4em;
	font-family: 'Roboto Slab', serif;
	padding: 0 3.5em 0 0;
}

}

@media only screen and (max-width: 1060px) {

.logo {
	float: left;
	padding: .75em 1em;
	margin: .4em 0 0 6em;
	width: 9.5%;
}

nav {
	/*font-family: 'Source Sans Pro', sans-serif;*/
	font-family: 'Roboto Slab', serif;
	/*float: right;*/
	color: #FDF6EF;
	position: static;
	padding: 4em 0 0.5em 0;
	margin: 0 15em 0 0;
	float: left;
	text-align: center;
	right: 60%;
	top: 65%;
	font-size: .9em;
	/*this is stretching over the logo, how do i fix this?*/
}

.nav-wrapper {
	display: block;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	color: #FDF6EF;
	padding: 1em;
}

#welcome-about {
	/*display: block;*/
	padding: 2em, 6em;
	margin: 0;
	max-width: 100%;
	height: 26em;
	/*width: 1430px;*/
	
}

.welcome {
	padding: 5em 12em 7em 7em;
}

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 56px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: .9em;
	color: #FDF6EF;

}

h2.headings {
	/*font-family: 'Roboto Slab', sans-serif;*/
	font-family: 'Source Sans Pro', sans-serif;
	/*font-size: 255%;*/
	font-size: 37px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: .5em;
	margin-bottom: .1em;
	/*color: #731827;*/
	color: #A82033;

}

p.splash {
	font-family: 'Roboto Slab', serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.4em;
	margin-top: .5em;
	padding: 0 10em 1em 0;
	color: #FDF6EF;
	text-align: left;

}

.cultivate-p {
	font-size: 95%; 
}

.cultivate {
	width: 33.33%;
	padding: 0em 1.5em;
	color: #433D3C;
	float: left;
}

.cultivate-icon {
	width: 38%;
}

h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #EFB46E;
	margin-top: .5em;

}

h4 {
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	font-size: 13px;
	color: #433D3C;
	margin: .1em 0;
	/*padding: 0 2em;*/
}

.approach-wrapper {
	padding: 2em 16em 2em;
}

img.clients {
	/*display: inline-block;*/
	height: 6em;
	margin: 1.4em;
}

.contact-wrapper {
	height: 26em;
	display: block;
	width: 100%;
	background: rgba(159,127,80, 0.35);
	/*padding: 4em;*/
	/*this is not being controlled the same as the other picture above - this seems like the correct way*/
}

.contact-content {
	display: block;
	padding: 5.5em 0em 0 30em;
}

h2.contact {
	color: #FDF6EF;
	font-size: 39px;
	font-weight: 700;
	text-transform: uppercase;
	/*margin: 3em 0em 0 15em;*/
	/*width: 50%;*/
	font-weight: 600;
	text-align: left;
	float: left;
	margin: 0;
}

.with-you {
	color: #FDF6EF;
	text-align: left;
	float: left;
	margin: .3em 0;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.4em;
	font-family: 'Roboto Slab', serif;
	padding: 0 5.5em 0 0;
}


}

@media only screen and (max-width: 990px) {	

#welcome-about {
	/*display: block;*/
	padding: 2em, 6em;
	margin: 0;
	max-width: 100%;
	height: 24em;
	/*width: 1430px;*/
	/*this is not being controlled the same as the other picture below - this seems like the incorrect way*/
	
}

.logo {
	float: left;
	padding: .75em .75em;
	margin: .4em 0 0 5em;
	width: 9.5%;
}

nav {
	/*font-family: 'Source Sans Pro', sans-serif;*/
	font-family: 'Roboto Slab', serif;
	/*float: right;*/
	color: #FDF6EF;
	position: static;
	padding: 4.4em 0 0.5em 0;
	margin: 0 15em 0 0;
	float: left;
	text-align: center;
	right: 60%;
	top: 65%;
	font-size: .85em;
	font-weight: 400;
}

.nav-wrapper {
	display: block;
}

p.splash {
	font-family: 'Roboto Slab', serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.4em;
	margin-top: .5em;
	padding: 0 5em 0 0;
	color: #FDF6EF;
	text-align: left;

}

.welcome {
	padding: 5em 16em 6.75em 6em;
}

.misssion {
	color: #433D3C;
	/*color: #731827;*/
	/*line-height: .5em;*/
	padding: .3em 8em;
	line-height: 1.4em;
	margin: auto;
	font-family: 'Roboto Slab', serif;
	font-size: .95em;
	font-weight: 400;
}

.tiers {
	/*padding: 1em 3em;*/
	max-width: 1200px;
	margin: 2.2em 2em;
	display: block;
	/*margin-bottom: 1.4em;*/
}

.cultivate-p {
	font-size: 90%; 
}

.cultivate-icon {
	width: 36%;
}

.cultivate {
	width: 33.33%;
	padding: 0em 1.5em;
	color: #433D3C;
	float: left;
}

h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: #EFB46E;
	margin-top: .5em;

}

h4 {
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	font-size: 15px;
	color: #433D3C;
	margin: .1em 0;

}

p {	
	font-family: 'Source Sans Pro', sans-serif;
	/*font-family: 'Roboto Slab', serif;*/
	/*font-size: 100%;*/
	font-size: 15px;
	font-weight: 400;
	line-height: 1.5em;
	letter-spacing: 0.01em;
	margin-top: 1em;
	text-align: center;
	/*padding: .2em -.5em;*/
	color: #808080;
}

.approach-wrapper {
	padding: 2em 13em 2em;
}

.contact-wrapper {
	height: 28em;
	display: block;
	width: 100%;
	background: rgba(159,127,80, 0.35);
	/*padding: 4em;*/
	/*this is not being controlled the same as the other picture above - this seems like the correct way*/
}

.contact-content {
	display: block;
	padding: 5.5em 0em 0 29em;
}

h2.contact {
	color: #FDF6EF;
	font-size: 42px;
	font-weight: 700;
	text-transform: uppercase;
	/*margin: 3em 0em 0 15em;*/
	/*width: 50%;*/
	font-weight: 600;
	text-align: left;
	float: left;
	margin: 0;
}

.smaller {
	display: none;
}

.with-you {
	color: #FDF6EF;
	text-align: left;
	float: left;
	margin: .3em 0;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.4em;
	font-family: 'Roboto Slab', serif;
	padding: 0 3.5em 0 0;
}

}

@media only screen and (max-width: 940px) {		

#welcome-about {
	/*display: block;*/
	padding: 2em, 6em;
	margin: 0;
	max-width: 100%;
	height: 26em;
	/*width: 1430px;*/
	/*this is not being controlled the same as the other picture below - this seems like the incorrect way*/
	
}

.logo {
	float: left;
	padding: .75em .75em;
	margin: .4em 0 0 5em;
	width: 9.5%;
}

nav {
	/*font-family: 'Source Sans Pro', sans-serif;*/
	font-family: 'Roboto Slab', serif;
	/*float: right;*/
	color: #FDF6EF;
	position: static;
	padding: 4.3em 0 0.5em 0;
	margin: 0 15em 0 0;
	float: left;
	text-align: center;
	right: 60%;
	top: 65%;
	font-size: .9em;
	font-weight: 400;
}


.welcome {
	padding: 5em 14em 7.5em 6em;
}

img.clients {
	height: 5.75em;
	margin: 1.4em;
}

.smaller {
	display: none;
}

.contact-wrapper {
	height: 27em;
	display: block;
	width: 100%;
	background: rgba(159,127,80, 0.35);
	/*padding: 4em;*/
	/*this is not being controlled the same as the other picture above - this seems like the correct way*/
}

.contact-content {
	display: block;
	padding: 5.5em 0em 0 28em;
}

h2.contact {
	color: #FDF6EF;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	/*margin: 3em 0em 0 15em;*/
	/*width: 50%;*/
	font-weight: 600;
	text-align: left;
	float: left;
	margin: 0;
}

.with-you {
	color: #FDF6EF;
	text-align: left;
	float: left;
	margin: .3em 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4em;
	font-family: 'Roboto Slab', serif;
	padding: 0 3.5em 0 0;
}

}

@media only screen and (max-width: 900px) {		

#welcome-about {
	/*display: block;*/
	padding: 2em, 6em;
	margin: 0;
	max-width: 100%;
	height: 26em;
	/*width: 1430px;*/
	/*this is not being controlled the same as the other picture below - this seems like the incorrect way*/
	
}

.logo {
	float: left;
	padding: .7em .7em;
	margin: .4em 0 0 4em;
	width: 9.5%;
}

nav {
	/*font-family: 'Source Sans Pro', sans-serif;*/
	font-family: 'Roboto Slab', serif;
	/*float: right;*/
	color: #FDF6EF;
	position: static;
	padding: 4.25em 0 0.5em 0;
	margin: 0 15em 0 0;
	float: left;
	text-align: center;
	right: 60%;
	top: 65%;
	font-size: .85em;
	font-weight: 400;
}


.welcome {
	padding: 5em 14em 8em 5em;
}	

h2.contact {
	color: #FDF6EF;
	font-size: 37px;
	font-weight: 700;
	text-transform: uppercase;
	/*margin: 3em 0em 0 15em;*/
	/*width: 50%;*/
	font-weight: 600;
	text-align: left;
	float: left;
	margin: 0;
}

.with-you {
	color: #FDF6EF;
	text-align: left;
	float: left;
	margin: .3em 0;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.4em;
	font-family: 'Roboto Slab', serif;
	padding: 0 3.5em 0 0;
}
}

@media only screen and (max-width: 822px) {	

#welcome-about {
	/*display: block;*/
	padding: 2em, 6em;
	margin: 0;
	max-width: 100%;
	height: 26em;
	/*width: 1430px;*/
	/*this is not being controlled the same as the other picture below - this seems like the incorrect way*/
	
}

.logo {
	float: left;
	padding: .7em .7em;
	margin: .4em 0 0 4em;
	width: 9.75%;
}

nav {
	/*font-family: 'Source Sans Pro', sans-serif;*/
	font-family: 'Roboto Slab', serif;
	/*float: right;*/
	color: #FDF6EF;
	position: static;
	padding: 4.25em 0 0.5em 0;
	margin: 0 15em 0 0;
	float: left;
	text-align: center;
	right: 60%;
	top: 65%;
	font-size: .8em;
	font-weight: 400;
}

.welcome {
	padding: 5em 10em 8em 5em;
}

.tiers {
	/*padding: 1em 3em;*/
	max-width: 1200px;
	margin: 2.2em 1em;
	display: block;
	/*margin-bottom: 1.4em;*/
}

.cultivate-p {
	font-size: 85%; 
}

.cultivate-icon {
	width: 40%;
}

.cultivate {
	width: 33.33%;
	padding: 0em 1.5em;
	color: #433D3C;
	float: left;
}

h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #EFB46E;
	margin-top: .5em;

}

h4 {
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	font-size: 13px;
	color: #433D3C;
	margin: .1em 0;
}

.approach-wrapper {
	padding: 2em 10em 2em;
}

.contact-wrapper {
	height: 28em;
	display: block;
	width: 100%;
	background: rgba(159,127,80, 0.35);
	/*padding: 4em;*/
	/*this is not being controlled the same as the other picture above - this seems like the correct way*/
}

.contact-content {
	display: block;
	padding: 5.5em 0em 0 29em;
}

h2.contact {
	color: #FDF6EF;
	font-size: 42px;
	font-weight: 700;
	text-transform: uppercase;
	/*margin: 3em 0em 0 15em;*/
	/*width: 50%;*/
	font-weight: 600;
	text-align: left;
	float: left;
	margin: 0;
}




}



