* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	color: #252d34;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	/*font-family: 'Source Sans Pro', sans-serif;*/
	background-color: #FDF6EF;
	font-size: 15px;
}

#intro {
	display: block;
	background-image: url("../images/flying-again-test.jpg");
	max-width: 100%;
	background-size: cover;
}

.intro-section-wrapper {
	height: 46em;
	display: block;
	width: 100%;
	/*background: rgba(159,127,80, 0.35);*/
}

header {
	
	
	border-bottom: 1px #252d34 solid;
	/*background: #81A1B1;*/
	/*background: rgba(129,161,177, 0.1);*/
	/*background: rgba(159,127,80, 0.35);*/
	/*border-bottom: 1px rgba(255,255,255, 0.2) solid;*/
	/*width:100%;*/
	padding: 1em 3em;
	margin: 0em 10em;

}
/*.logo {
	margin: .2em;
	width: 28px;
}
*/
nav {
	position: static;
	display: block;
	font-family: 'roboto', sans-serif;
	font-weight: 500;
}

a.nav {
	text-decoration: none;
	text-transform: uppercase;
	/*color: #FDF6EF;*/
	color: #A45152;
	padding: 1em 1em;
}

a.nav:hover {
	text-decoration: none;
	color: #252d34;
}

/*dropdown on medium with: web (IF, KC, C1), 
mobile (Wallet, cats?), branding/campaign (BB, Cats, Nalgene, Fiesta, IF?), 
illustration? (Teeth, small things Book, rocket-poster, snowy, cats & critters, bearhead, meowcakes!...) */

h2 {
	margin: 1em 0em 0em 0em;
	text-align: left;
	text-transform: uppercase;
	font-weight: 300;
	font-family: "roboto condensed", sans-serif;
	font-size: 2em;
	color: #A45152;
}

#work {
	width: 920px;
	margin: auto;
}

.work-section-wrapper {
	display: block;
	margin: 2em 0em;
	padding: 0.7em 0.5em;
	border: 1px rgba(37,45,52, 0.1) solid;
	/*float: left;*/
	/*border-style: 1px #433D3C solid;*/
}

.thumb {
	height: 15em;
	margin: .3em .3em;
}



/*test*/
ul.img-list {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	text-align: center;
  	/*float: left;*/
  	display: inline-block;
}

ul.img-list li {
  display: inline-block;
  height: 15em;
  margin: 0em 0em;
  position: relative;
  /*width: 890px;*/
  /*float: left;*/
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;	
  cursor: pointer;
  display: table;
  height: 15em;
  /*left: 301px;*/
  left: .3em;
  position: absolute;
  top: .3em;
  width: 288px;
  opacity: 0;

}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
   /*float: left;*/
}

/*test*/


.work-border {
	border-bottom: 1px #252d34 solid;
	/*background: #81A1B1;*/
	/*background: rgba(129,161,177, 0.1);*/
	/*background: rgba(159,127,80, 0.35);*/
	/*border-bottom: 1px rgba(255,255,255, 0.2) solid;*/
	/*width:100%;*/
	padding: 1em 3em;
	margin: 0em 10em;
}

#about {
	width: 920px;
	margin: auto;
}

.about-section-wrapper {
	/*border-top: 1px #433D3C solid;*/
	/*padding: 1em 5em 3em 0em;*/
	/*margin: 0em 10em;*/
	/*border-bottom: 1px #433D3C solid;*/
}

.about-pic {
	float: left;
	margin: 2em 0em 0em 1em;
}

.about-me-description {
	/*float: left;*/
	margin: 0em 0em 0em 20em;
	padding: 2em 1em 2.5em 4em;
}

p {
	line-height: 1.5em;
	text-align: left;
	font-weight: 300;
	margin-top: .5em;

}

#contact {
	max-width: 100%;
	margin: auto;
	background-color: #252d34;
}

.contact-section-wrapper {
	width: 920px;
	margin: auto;
}

.h2-contact {
	/*margin: 1em 0em 0em 0em;*/
	text-align: left;
	text-transform: uppercase;
	font-weight: 300;
	font-family: "roboto condensed", sans-serif;
	font-size: 2em;
	padding: 1em 0em 0em 0em;
	color: #FDF6EF;
}



ul.icon-list {
	list-style-type: none;
}

ul.icon-list li {
	/*margin: auto;*/
}

ul.icon-list li a {
	height: 100 px;
	width: 100 px;
	display: inline-block;
	padding-bottom: 50px;
	color: #fff;
	text-decoration: none;
	background-image: url(../images/icons/icons-sprites2.png) no-repeat;
}

ul.icon-list li.linkedin a {
	background-position: 0 0;
}

ul.icon-list li.linkedin a:hover {
	background-position: 0 -300;
}
/*
.contact-icons {
	display: block;
	margin: 2em 0em;
	padding: 0.7em 0.5em;
}

/*.icons {
	width: 7em;
	margin: 0em 2.5em 0.2em 2.5em;
	display: inline;
}

.contact-icons-text {
	width: 14em;
	display: inline;
}


/*p.icons-text {
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: .05em;
	font-family: "roboto condensed", sans-serif;
	font-size: 1.2em;
	color: rgba(188, 145, 147, 1);
	margin: auto;
	text-decoration: none;
	display: block;
}*/

/*p.icons-text:hover {
	color: #FDF6EF;
	text-decoration: none;
}

ul.icon-list {
	list-style-type: none;
  	margin: 4em 2em 5em 2em;
  	padding: 0;
  	text-align: center;
  	display: inline-block;
}

ul.icon-list li {
  display: inline;
  margin: 0em 0em;
  position: relative;
  float: left;
}*/

/*.icon-link {
	text-decoration: none;
	padding: 0em;
}*/ 

/***********/
/*li:hover {
  display: inline;
  margin: 0em 0em;
  position: relative;
  float: left;
  background-color: #fff;
}*/

/*.icon-swap {
	width: 184px;
	height: 197px;
	background-image: url("images/icons/icon-e-sprite.png");
   	background-position: 0 0;
}

.icon-swap:hover {
	background-position: 0 100%;
}
*/

/***********/