body {
	text-align: center;
	background-color: rgb(192,57,43);
	background-size: 100% 100%;
	background-size: cover;
	/*opacity: 0.5; seems to only relate to the text 
	- I want a color with transparency over the image 
	so the text is legible*/
	background-repeat: no-repeat;
	color: #fff;
	font-family: "Gotham", sans-serif;
	background-image: url("../images/tl-41.jpg");
	/*I know there's a way to get my typefaces in here, 
 	google fonts or typekit, but do they have to be with 
	images instead?*/

}

#redtext {
	color: #c0392b;
}


h1 {
	font-family: "Gotham", sans-serif;
	font-size: 100px;
	font-weight: 400;
	text-transform: uppercase;
}

hr {

	width: 200px

}
	

p {
	font-family: "Gotham-thin", sans-serif;
	font-size: 18px;
	font-weight: 100;
	/*how to kern/lead?wtf*/
}

#slogan {
	font-family: "Archer", serif;
	font-style: italic;
	font-size: 55px;
	font-weight: 200;	
}	

ul {
	text-align: left;
	font-family: "Gotham-thin", sans-serif;
	font-size: 16px;
}